@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-arrow {
  z-index: 100 !important;

}

.slick-prev {
  left: 5px !important;

  &:before {
    font-size: 40px !important;
    color: #fff !important;
  }
}

.slick-next {
  right: 25px !important;

  &:before {
    font-size: 40px !important;
    color: #fff !important;
  }
}

.slick-dots {
  padding: 50px 0 !important;

  & li {
    width: 60px !important;
    height: 60px !important;
    overflow: hidden !important;
  }
}

.slick-active {
  transform: scale(1.5) !important;
  transition: all ease-in-out .4s;
}